* {
    box-sizing: border-box;
  }

 #gif-input {
      float: right;
      height: 39px !important;
      padding: 10px;
  }

  #add-gif {
      float: right;
      height: 40px;
      margin: 0px 0px 0px 4px;
      background-color: #337ab7;
      padding: 8px;
      color: white;
      font-weight: bold; 
      width: 40px;
      border-radius: 4px;
  }

.gif-button {
   margin: 2px 4px 2px 0px; 
   height: 36px;
   float: left;
   outline: none;
   border: none;
   background: none;
   padding: 5px 5px 7px 5px;
   color: white;
   font-weight: bold;
   font-size: 14px;
}

.button-style {
    background-color: #337ab7;
    margin: 3px 5px 2px 0px;
    float: left;
    border-radius: 4px;
    padding: 0px 10px 0px 4px;
}

.checkbox {
    float: left;
    outline: none;
    border: none;
    background: none;
    padding: 9px 10px 0px 10px;
    color: white;
}

#title {
    font-size: 72px;
    text-align: left;
    font-family: 'Amatic SC', sans-serif;
    padding: -5px;
}

#subtitle {
    font-size: 18px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;}

#gif-form {
    text-align: right;
}

.gif {
    margin: 5px;
}

#images {
    width: 100%;
    background-color: #337ab7;
    border-radius: 4px;
    padding: 5px;
    margin-top: 5px;
}

.imageBox {
    background-color: black;
    margin: 5px;
}

p {
    color: white;
}

@media screen and (max-width: 1200px) {

    .gif {
        margin: 5px;
        height: 200px !important;
    }

}